<div class="container">
  {% include 'breadcrumbs' %}
  <header class="collection-header">
    <h1 class="mb-3">{{ page_title }}</h1>
    {% if collection.description != blank %}
    <div class="rte collection-description">
    	<p>{{ collection.description }}</p>
   	</div>
    {% endif %}
  </header>

  {%- assign blocks = section.blocks | sort: 'collection.all_products_count' -%}

  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign category_width = 'col-lg-6' -%}
      {%- assign image_size = '530x' -%}
    {% when 3 %}
      {%- assign category_width = 'col-lg-4' -%}
      {%- assign image_size = '350x' -%}
    {% when 4 %}
      {%- assign category_width = 'col-lg-3' -%}
      {%- assign image_size = '250x' -%}
  {% endcase %}

  <div id="categories" class="row">
    {% if section.settings.display_type == 'all' %}
      {% case section.settings.sort %}
        {% when 'products_high' or 'products_low' %}
          {%- assign collections = collections | sort: 'all_products_count' -%}
        {% when 'date' or 'date_reversed' %}
          {%- assign collections = collections | sort: 'published_at' -%}
      {% endcase %}
      {% if section.settings.sort == 'products_low' or section.settings.sort == 'date' or section.settings.sort == 'alphabetical' %}
        {% for collection in collections %}
          <div class="categoryborder {{ category_width }} col-6 mb-4" {{ block.shopify_attributes }}>
            {% include 'category-grid', collection: collection %}
          </div>
        {% endfor %}
      {% else %}
        {% for collection in collections reversed %}
          <div class="categoryborder {{ category_width }} col-6 mb-4" {{ block.shopify_attributes }}>
            {% include 'category-grid', collection: collection %}
          </div>
        {% endfor %}
      {% endif %}
    {% else %}
      {% for block in section.blocks %}
        <div class="categoryborder {{ category_width }} col-6 mb-4" {{ block.shopify_attributes }}>
          {%- assign collection = collections[block.settings.collection] -%}
          {% include 'category-grid', collection: collection %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>



{% schema %}
{
  "name": {"nl": "Pagina Collectielijst"},
  "settings": [
    {
      "type": "paragraph",
      "content": {"nl": "Standaard worden al je collecties weergegeven. Kies Geselecteerd en voeg collecties toe om de lijst aan te passen."}
    },
    {
      "type": "radio",
      "id": "display_type",
      "label": {"nl": "Collecties selecteren om weer te geven"},
      "default": "all",
      "options": [
        {
          "value": "all",
          "label": {"nl": "Alle"}
        },
        {
          "value": "selected",
          "label": {"nl": "Geselecteerd"}
        }
      ]
    },
    {
      "type": "select",
      "id": "sort",
      "label": {"nl": "Collecties sorteren op:"},
      "info": {"nl": "Sorteren is alleen van toepassing als Alles is geselecteerd"},
      "default": "alphabetical",
      "options": [
        {
          "value": "products_high",
          "label": {"nl": "Aantal producten, van hoog naar laag"}
        },
        {
          "value": "products_low",
          "label": {"nl": "Aantal producten, van laag naar hoog"}
        },
        {
          "value": "alphabetical",
          "label": {"nl": "Alfabetisch: A-Z"}
        },
        {
          "value": "alphabetical_reversed",
          "label": {"nl": "Alfabetisch: Z-A"}
        },
        {
          "value": "date",
          "label": {"nl": "Datum: oud naar nieuw"}
        },
        {
          "value": "date_reversed",
          "label": {"nl": "Datum: nieuw naar oud"}
        }
      ]
    },
    {
      "type": "range",
      "id": "grid",
      "label": {"nl": "Collecties per rij"},
      "default": 3,
      "min": 2,
      "max": 4,
      "step": 1
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": {"nl": "Collectie"},
      "settings": [
        {
          "label": {"nl": "Collectie"},
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
